body {
  background: #f8e8a6;
}
h1 {
  text-align: center;
}
.links {
  display: block;
  margin: 0 10px;
  text-align: center;
  color: green;
}
.croissant-image {
  display: block;
  margin: 0 auto;
  border-radius: 20%;
  text-align: center;
}
.contact-info {
  text-align: center;
}
