body {
  background: #f8e8a6;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
  padding: 15px;
}
footer a {
  margin: 0 10px;
  color: green;
}
.croissant-image {
  display: block;
  margin: 0 auto;
  border-radius: 20%;
  text-align: center;
}
.contact-info {
  text-align: center;
}
